ul {
  padding: 0;
  list-style-type: none;
}
li {
  margin-bottom: 10px;
}
img {
  max-width: 200px;
}
table {
  border-collapse: collapse;
  margin-bottom: 20px;
}
table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}
td, th {
  padding: 10px;
}
tr.total {
  font-weight: bold;
}
.disabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
}
.clayer-price {
  font-size: 20px;
}
.compare-at-amount {
  text-decoration: line-through;
}
#clayer-shopping-bag-container {
  display: none;
  padding: 20px;
}
#clayer-shopping-bag-container.open {
  display: block;
}
#clayer-shopping-bag-items-container img {
  max-width: 60px;
}
.clayer-add-to-bag {
  font-size: 16px;
  border: 1px solid #666;
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
}
#clayer-shopping-bag-checkout {
  font-size: 20px;
  border: 1px solid #666;
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
}
